<html>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            direction: rtl;
            font-size: 14px;
        }

        .container {
            width: 90%;
            margin: 0 auto;
        }

        /* header page */
        .header {
            text-align: center;
            padding: 10px;
            border-bottom: 5px solid #000;
        }

        .header .header-content {
            display: flex;
            justify-content: space-between;
        }

        .bold {
            font-weight: 600;
        }

        .header-content .logo img {
            width: 70%;
        }

        /* content of page */
        .container .content h1 {
            margin: 55px auto;
            text-align: center;
            text-decoration: underline;
        }

        .content section {
            width: 95%;
            margin: 35px auto;
            font-size: 22px;
            line-height: 1.8;
        }

        .user-data {
            text-decoration: underline;
        }

        .content footer {
            font-size: 22px;
            font-weight: 600;
            text-align: center;
        }

        /* signatures */
        .signatures {
            font-size: 18px;
            height: 50vh;
            margin: 30px;
        }

        .signatures div {
            float: left;
            padding: 15px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .signatures div .bold {
            margin: 15px auto;
        }
        .footer {
            position: relative;
            bottom: 0;
            width: 80%;
            margin: 35px auto;
            text-align: center;
        }
        .footer div {
            padding: 3px;
            border: 3px solid #000;
        }
    </style>

    <body>
        <div class="container">
            <header class="header">
                <h2>بسم الله الرحمن الرحيم</h2>
                <section class="header-content">
                    <div class="header-info">
                        <p>الجمهورية اليمنية</p>
                        <p class="bold">جامعة حضرموت</p>
                        <p class="bold">نيابة شئون الطلاب</p>
                        <p class="bold">الإدارة العامة للقبول والتسجيل</p>
                    </div>
                    <div class="logo">
                        <img src="/server/public/Hadhrmout.jpg" alt="LOGO" >
                    </div>
                    <div class="date">
                        <time class="bold" datetime="2022-06-07">التاريخ: 2022/06/07</time>
                    </div>
                </section>
            </header>

            <artical class="content">
                <header>
                    <h1>إلى من يهمة الأمر</h1>
                </header>
                <section>
                    تؤكد جامعة حضرموت أن الطالب: <span class="user-data bold">{{name}}</span>
                    مقيد بكلية: <span class="user-data bold">{{collage}}</span> المستوى: <span class="user-data bold">{{level}}</span>
                    تخصص: <span class="user-data bold">{{department}}</span> للعام الجامعي <span class="user-data bold">2022/2021</span>
                    على نظام: <span class="user-data bold">{{typeOfRegister}}</span>
                </section>
                <footer>
                    <p>وقد أعطيت له هذا التأكيد بناءً على طلبه...</p>
                </footer>
            </artical>

            <section class="signatures">
                <div>
                    <p class="bold">محمد عاشور باجبير</p>
                    <p class="bold">المسجل العام</p>
                </div>
            </section>

            <footer class="footer">
                <div>
                    <p>المكلا - الرمز البريدي: (50512 - 50511) - هاتف: (360868) - فاكس: 360864 (009675) </p>
                    <p>Mukall - post: (50511 - 50512) - tel.: (360868) - fax: (009675) 360864</p>
                </div>
                <p>Email: HADHRAMOUT_UNIV@Y.NET.YE (البريد الإلكتروني)</p>
            </footer>
        </div>

    </body>

</html>
